.videoItem{
    margin-bottom: 1rem;
}
.title{
    text-align: left;
    margin-top: 0;
    color: rgba(155,155,155,1);
    font-size: 14px;
}

@media only screen and (max-width: 400px) {
    .title{
        font-size: 12px;
    }
}