.searchBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    position: fixed;
    bottom: 0%;
    background-color: #1f1f1f !important;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.customModal {
    width: 400px;
    background-color: #2f2f2f !important;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 60%;
    background-color: #2f2f2f;
    padding: 0.5rem 1rem;
    border-radius: 26px;
    justify-content: space-between;
    align-items: center;
}

.attachIcon {
    margin-right: 5px;
    color: rgba(155, 155, 155, 1);
    cursor: pointer;
}

.inputQuerry {
    background-color: transparent;
    border: none;
    width: 95%;
    font-size: 14px;
    color: rgba(155, 155, 155, 1);
}

.inputQuerry:focus {
    outline: none;
    color: rgba(155, 155, 155, 1);
}

.queryBtn {
    background-color: rgba(155, 155, 155, 1);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.iconQuery {
    width: 2rem;
    height: 2rem;
}

.div_previewImg {
    margin-top: 2rem;
}

.previewImg {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.listPreviewBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    >div {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 5px;

        >p {
            margin: 0;
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 14px;
        }
    }
}

.cancelBtn {
    background-color: rgba(155, 155, 155, 1);
    margin-right: 5px;
}

.sendBtn {
    background-color: #1f1f1f;
    color: white;
}
.closeIcon{
    color:#9b9b9b;
    font-size: 22px;
}
.imgSearch {
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(155, 155, 155, 1);
    padding-bottom: 4px;
    color: #9b9b9b;
    font-size: 14px;
}

.imgSearch:focus {
    outline: none;
    /* color: rgba(155, 155, 155, 1); */
}

@media only screen and (max-width: 768px) {

    .container,
    .searchBar {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .inputQuerry {
        font-size: 12px;
    }

    .queryBtn {
        width: 25px;
        height: 25px;
    }

    .iconQuery {
        width: 25px;
        height: 25px;
    }
}